<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MY EJS TEMPLATE</title>
    </head>
    <body>
        <fieldset>
            <legend>
                <h1>Location-App <%=localtionParentId%></h1>
            </legend>
            <a href="http://localhost:3000/api/location/addLocation/<%=localtionParentId%>"
                ><button>Add location</button></a
            >
            <a href="http://localhost:3000/api/location/addProduct/<%=localtionParentId%>"
                ><button>Add product</button></a
            >
            <br />
            <table id="table" border="2">
                <tr>
                    <td class=".col">Parent Location Name</td>
                    <td class=".col">Child Location Name</td>
                    <td class=".col">Edit</td>
                    <td class=".col">Delete</td>
                    <td class=".col">Product</td>
                    <td class=".col">Child Product</td>
                </tr>
                <% locationParent.forEach(location => { %>
                <tr>
                    <td>
                        <a
                            href="http://localhost:3000/api/location/<%= location._id %>"
                            class="parent-link"
                            data-location-id="<%= location._id %>"
                            ><%= location.locationName %></a
                        >
                    </td>
                    <td></td>
                    <td><input type="button" id="Edit" name="Edit" value="Edit" /></td>
                    <td><input type="button" id="Delete" name="Delete" value="Delete" /></td>
                    <td></td>
                    <td><%= location.childProductName %></td>
                </tr>
                <% }) %>
            </table>
        </fieldset>
    </body>
</html>
